* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


body {


    font: 100% / 1.5 Raleway, sans-serif;
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hwb(277 0% 74%));

}




.secopg{
    display: block;
    width: 100%;
    padding-top: 50px;
    color: #bbb;
    font-size: 50px;
    text-align: center;
    font-family: 'Outfit', sans-serif;

}

